.container {
    display: inline-block;
    width: 400px;
    clear: left;
}

.container div {
    background-color: rgb(76, 76, 76);
    color: white;
    margin: 1rem;
    height: 50px;
    text-align: center;
}

.this-is {
    height: 300px;
    float: left;
}

.artist {
    clear: left;
}

.flex-container {
    display: flex;
}

.side {
    flex: 1;
    background-color: rgb(60, 60, 60);
    color: white;
}

.center {
    flex: 2;
    background-color: rgb(81, 81, 81);
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.blue {
    background-color: blue;
    height: 5rem;
}

.red {
    background-color: red;
    height: 5rem;
}

@media (min-width: 319px) and (max-width: 768px) {
    .this-is {
        height: 200px;
    }
}